.perso{
    position: relative;
    --taille:18vmin;
    width: var(--taille);
    height: var(--taille);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;


}

#perso2{
    background-image: url("./skins/wimbledon/public/1.png");
    animation-duration: 1s;
    margin-top: 3vmin;
    margin-left: 50vmin;
    margin-right: -10vmin;

}
#perso7{
    background-image: url("./skins/wimbledon/public/2.png");
    margin-top: 3vmin;
    margin-right: -30vmin;
}
#perso10{
    background-image: url("./skins/wimbledon/public/3.png");
    animation-duration: 4s;
    margin-top: 3vmin;
    margin-right: 50vmin;
}
#perso4{
    background-image: url("./skins/wimbledon/public/4.png");
    animation-duration: 4s;
    margin-top: 3vmin;
    margin-right: -30vmin;
}

@keyframes perso {
    0%{
        transform: translateY(-2px) rotate(-2deg) scale(1);
    }
    25%{
        transform: translateY(-1px) rotate(2deg) scale(1.01) skewX(4deg);
    }
    75%{
        transform: translateY(-3px) rotate(-1deg) scale(1.01);
    }
    100%{
        transform: translateY(1px) rotate(1deg) scale(0.99) skewX(-4deg);;
    }
}

.perso{
    animation-name: perso;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transform-origin: center;
    margin-top: -1vmin;
}


.perso:nth-child(odd){
    animation-duration: 9s;
}
.perso:nth-child(3n){
    animation-duration: 10s;
}
.perso:nth-child(4+4n){
    animation-duration: 11s;
}