body{
    background-color: #000000;
    color: #ffffff;
    font-family: monospace;
    display: flex;
    justify-content: center;
    align-items: center;
}

.terrain{
    width:800px;
    height: 400px;
    border: 1px solid #000;
    border-top-color: #fff;
    border-bottom-color: #fff;
    position: relative;
}
.terrain > *{
    position: absolute;
}

.balle{
    background-color: #fff;
    width: 10px;
    height: 10px;
    top: 50%;
    left: 50%;
}


.raquette{
    background-color: #fff;
    width: 10px;
    height: 100px;
}
.raquette.joueur1{
    top:50%;
    left: 0px;
}
.raquette.joueur2{
    top:50%;
    right: 0px;
}

.raquette.touche-balle{
    background-color: #0f0;
}
.raquette.rate-balle{
    background-color: #f00;
}

.score{
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color:#222;
}
.score2{
    left:50%;
}


